/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;

  /* Negative indent footer by its height */
  margin: 0 auto -60px;

  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

#wrap > .container {
  padding: 60px 15px 0;
}

.navbar-brand {
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 200%;
}

.nav-link {
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 150%;
}

.site {
    font-family: 'Lato', sans-serif;
    font-size: 110%;
}

.footer {
    font-family: 'Lato', sans-serif;
    /* font-size: 110%; */
}

/* font-family: 'Boogaloo', sans-serif; */
