---
layout: default
title: About Me
id: about
---

<div id="about">
    <h1>About Me</h1>

    <p>Hi, my name is <b>Ryan Wooden</b>. I'm a Software Developer for BlackBerry, living in Nova Scotia, Canada.</p>
    <p>I play guitar, although not as frequently as I'd like, and I play with computers, probably more than I should.</p>
    <p>I am a Linux user, a Python fan, and a supporter of open source software.</p>
    <p>I strive for simplicity combined with efficiency in all that I do, be it personal or professional.</p>
    <p>If you wish to contact me, see the contact information at the bottom of this page.</p>

    {% if false %}
    <h1>Blog Posts</h1>
    <ul class="posts">
        {% for post in site.posts %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
