<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Ryan Wooden{% if page.title %} - {{ page.title }}{% endif %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap -->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">

        <!-- Slate theme -->
        <link href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/slate/bootstrap.min.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0//assets/js/html5shiv.js"></script>
          <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/assets/js/respond.min.js"></script>
        <![endif]-->

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body{%if page.id %} data-current-page="{{ page.id }}"{% endif %}>
        <div id="wrap">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">{{ site.name }}</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li data-page-id="home"><a href="/index.html">Home</a></li>
                            <li data-page-id="mywork"><a href="/mywork.html">My Work</a></li>
                          </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>

            <div class="site container">
                {{ content }}
            </div>
        </div>

        <div id="footer" class="footer">
            <div class="container">
                <div class="contact">
                    <p>
                        Ryan Wooden<br />
                        <a href="mailto:rygwdn@gmail.com">rygwdn@gmail.com</a>
                    </p>
                </div>
                <div class="contact">
                    <p>
                        <a href="https://github.com/rygwdn">github.com/rygwdn</a><br />
                        <a href="https://twitter.com/rygwdn">twitter.com/rygwdn</a>
                    </p>
                </div>
                <div class="contact">
                    <p>
                        <a href="http://ca.linkedin.com/in/ryanwooden">linkedin.com/in/ryanwooden</a><br />
                        <a href="https://www.facebook.com/ryan.wooden">facebook.com/ryan.wooden</a>
                    </p>
                </div>
            </div>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="//code.jquery.com/jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script>
            // highlight current page
            var currentPage = $("body").data("current-page");
            if (currentPage) {
                $("li[data-page-id='" + currentPage + "']").addClass("active");
            }
        </script>
    </body>
</html>
