<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Ryan Wooden</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- font-family: 'Cabin Condensed', sans-serif; -->
        <link href='http://fonts.googleapis.com/css?family=Cabin+Condensed' rel='stylesheet' type='text/css'>

        <!-- font-family: 'Lato', sans-serif; -->
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

        <!-- Bootstrap -->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">

        <!-- Slate theme -->
        <link href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/slate/bootstrap.min.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0//assets/js/html5shiv.js"></script>
          <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/assets/js/respond.min.js"></script>
        <![endif]-->

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
    </head>

    <body{%if page.id %} data-current-page="{{ page.id }}"{% endif %}>
        <div id="wrap">
            <div class="site-header">
                <h1>{{ site.name }}</h1>
            </div>

            <div class="site container">
                {{ content }}
            </div>
        </div>

        <div id="footer" class="footer">
            <div class="container">
                <div class="contact">
                    <p>
                        <a href="mailto:rygwdn@gmail.com">rygwdn@gmail.com</a>
                    </p>
                </div>
                <div class="contact break-contacts">
                    <p>
                        <a href="https://github.com/rygwdn">github.com/rygwdn</a><br />
                        <a href="https://twitter.com/rygwdn">twitter.com/rygwdn</a>
                    </p>
                </div>
                <div class="contact break-contacts2">
                    <p>
                        <a href="http://ca.linkedin.com/in/ryanwooden">linkedin.com/in/ryanwooden</a><br />
                        <a href="https://www.facebook.com/ryan.wooden">facebook.com/ryan.wooden</a>
                    </p>
                </div>
            </div>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="//code.jquery.com/jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script>
            // highlight current page
            var currentPage = $("body").data("current-page");
            if (currentPage) {
                $("li[data-page-id='" + currentPage + "']").addClass("active");
            }
        </script>
    </body>
</html>
